html,
body {
    font-family: Verdana, sans-serif;
    background-color: #111111;
    color: #aaa;
}

a,
a:visited {
    color: #4e7cdf;
    text-decoration: none;
}
a:active,
a:hover {
    color: #7fa3f1;
    text-decoration: underline;
}

h1 {
    margin-top: 50px;
    font-size: 2rem;
    text-align: center;
}

h2 {
    margin: 50px 0px;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(184, 146, 75)
}

h3 {
    margin-top: 15px;
    font-size: 0.8rem;
    text-align: center;
    color: #666;
}

#stats {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
    justify-content: center;
}
.flex-row {
    display: flex;
    flex-direction: column;
}

.counter-group {
    width: 400px;
    margin-bottom: 50px;
}

.counter {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
.counter-left {
    margin-left: 5px;
    margin-right: 10px;
}
.counter-right {
    margin-left: 10px;
    margin-right: 5px;
}

.counter-name {
    vertical-align: center;
    line-height: 1.5rem;
    font-size: 1.1rem;
}

.counter-value {
    vertical-align: center;
    font-size: 1.5rem;
    color: cadetblue;
    text-decoration: bold;
}

#footer {
    margin: 50px 0px;
}