html,
body {
    font-family: Verdana, sans-serif;
    background-color: #111111;
    color: #aaa;
}

a,
a:visited {
    color: #4e7cdf;
    text-decoration: none;
}
a:active,
a:hover {
    color: #7fa3f1;
    text-decoration: underline;
}

h1 {
    margin-top: 50px;
    font-size: 2rem;
    text-align: center;
}

h2 {
    margin: 50px 0px;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(184, 146, 75)
}

#stats {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
    justify-content: center;
}

#footer {
    margin: 50px 0px;
}